* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100lvh;
  min-width: 100lvw;
  display: flex;
  background-color: #eeeeee;
  flex-wrap: wrap;
}

header {
  flex: 1;
  background-color: black;
}

header nav {
  height: 50%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 20px;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: white;
}

#main {
  flex: 12;
  display: flex;
  justify-content: center;
  align-items: center;
}

#block {
  height: 60%;
  width: 80%;
  display: flex;
}

#blockp1 {
  color: white;
  padding: 20px;
  border-radius: 30px 0 0 30px;
  background-color: rgb(12, 80, 57);
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
}

#blockp1 h1 {
  font-size: 50px;
}

#blockp2 {
  flex: 1;
  border-radius: 0 30px 30px 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  border: 3px solid rgb(12, 80, 57);
}

#choices {
  height: 50%;
  width: auto;
  border: 2px solid black;
}

.option {
  border-bottom: 2px solid black;
  height: 33.333%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
